#menu {
  position: fixed;
  z-index: 100;
  color: #f8f8f8;
  background: #131313;
  width: 220px;
  /*left: 0px;*/
  top: 0px;
  height: 100%;
}
.navbar-default{
  padding: 0.8rem 0.8rem;
  display: inline-block;
  background:none;
  border:none;
  margin:0;
  position:relative;
  height:100%;
}
a.mobile-menu-opener {
  position: absolute;
  right: -40px;
  width: 40px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size: 18px;
  background: #131313;
  top: 10px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  display:none;
}
a.mobile-menu-opener:hover{
  color:#1cb9c8;
}
.logo img{
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
.logo a{
  display:inline-block;
  height:auto;
  float:none;
  padding:0;
  position:relative;
  overflow:hidden;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;

}
.logo a:hover img{
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  transform:scale(1.05);
}
.logo a > img{
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}
